@import "~bootstrap/scss/bootstrap.scss";

body{
    background-image: url("https://i.blogs.es/117b77/tron_legacy_sequel-0/450_1000.jpg"); 
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.playlist {
    background-color: transparent;
    max-width: 20rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
    padding-top: 0.3rem;
    margin-left: 1rem;
}

ul {
    list-style-type: none;
    color: #B9E1EA;
    border:1px solid;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-style: italic;
}

.music-player{
 margin: auto;
 display: table;
 margin-top: 1rem;
}

h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #084f5f;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-shadow: #D0E9EA;
}

figure{
    margin: auto;
    display: table;
    padding: 1rem;
    font-size: 1rem
   }

.player{
    margin: auto;
    display: table;
}
.mysongs{
    color: #084f5f;
    font-size: 25px;
    font-style: italic;
}

.btn {
margin-left: 4rem;
margin-right: 5rem;
background-color: transparent;
border-color: transparent;
width: 2rem;
height: 2rem;
}

.fas {
 color:#D0E9EA;
 font-size: 2rem;
}

